{% extends "layout.html" %}
{% block title %}Landing Page{% endblock %}
{% block content %}
<body>
<div class="container-fluid">
    <br>
    <div class="display-5">Hello, {{current_user.firstname}} {{current_user.lastname}}</div>
    <br><br>
    {% if current_user.has_role("Admin") %}
    <div class="h4">You're the admin, everything is in your control!</div>
    <img src="{{url_for('static', filename='adminicon.png')}}" alt="Admin image" class="image">
    {% elif current_user.has_role("Store Owner") %}
    <div class="h4">You're the store owner! :D</div>
    <img src="{{url_for('static', filename='owner.png')}}" alt="Admin image" class="image">
    {% else %}
    <div class="h4">What would you like to do today?</div>
    <img src="{{url_for('static', filename='shopping.png')}}" alt="Shopping image" class="image">
    {% endif %}
</div>
<style>
    body {background-color:#F5F5DC;}
    .display-5 { 
        color:#146EB4;
    }

    .image {
        position: absolute;
        height:1000px;
        width:1000px;
        left:37%;
    }
</style>
</body>
{% endblock %}