{% extends "layout.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
{% from "_formhelpers.html" import render_field %}

<div class="container-fluid">
    <body>
        <div class="container-fluid">
            <div class="center bar fill1">
                <div>
                    <img src="{{url_for('static', filename='male.png')}}"
                        alt="Profile image" class="image1">
                      <img src="{{url_for('static', filename='female.png')}}"
                        alt="Profile image" class="image2"></div>
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-sm-6 text-black">
                    
                      <div class="px-5 ms-xl-4">
                        <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
                        <br>
                        <span class="h1 fw-bold mb-0">Profile</span>
                      </div>
                      <br><br><br><br>
                      <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5 size">
                            <form method="POST" style="width: 23rem;">
                                {{ form.hidden_tag() }}
                                {{render_field(form.username)}}
                                {{render_field(form.email)}}
                                {{render_field(form.firstname)}}
                                {{render_field(form.lastname)}}
                                {{render_field(form.current_password)}}
                                {{render_field(form.password)}}
                                {{render_field(form.confirm)}}
                                {{form.submit(class="btn btn-primary")}}
                                
                                <style>
                                    .size{
                                        width:32rem;
                                    }
                                    
                                    .bar {
                                        position: absolute;
                                        height: 1008px;
                                        background: #6a6a6a;
                                        width:  0%;
                                        top: 0px;
                                        left: 18px;
                                        margin-top: 8px;
                                        box-shadow: 0 0 3px rgba(192,192,192,0.9);
                                        animation: fill 1s infinite, colors 2s infinite;
                                        
                                    }
                                    
                                    .bar.fill1 {
                                        animation:  fill-1 1s infinite, colors 2s;
                                        animation-fill-mode: forwards;
                                        animation-iteration-count: 1;
                                        
                                    }
                             
                                    @keyframes fill-1 {
                                        0%   { top:0%; width: 520px; background-color:#F5F5DC; opacity:0.5;}
                                        100% { top:50%; width: 520px; opacity:1;}
                                      }
                                    .image1 {
                                        height:100px;
                                        width:100px;
                                        position: absolute;
                                        left: 35%;
                                        top: 16%;
                                        transform: translate(-50%, -50%);
                                    }
                                    .image2 {
                                        height:100px;
                                        width:100px;
                                        position: absolute;
                                        left: 65%;
                                        top: 16%;
                                        transform: translate(-50%, -50%);
                                    }
                                    body {background-color:#F5F5DC;}
                                    .center{
                                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                                        background-color:white;
                                        border-radius: 25px;
                                        height:1000px;
                                        position: absolute;
                                        left: 50%;
                                        top: 51%;
                                        transform: translate(-50%, -50%);
                                        padding: 2px;
                                        line-height: 30px;
                                    }
                                </style>
                            </form>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
        </div>
        </body>
{% endblock %}